/* dashboard.module.css */

.main {
  min-height: 100px;
  background: linear-gradient(135deg, #f6f8ff 0%, #e9ecff 100%);
  padding: 1rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: black;
  margin-bottom: 2rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 1rem;
  flex-wrap: nowrap;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 250px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.activeCard {
  background: linear-gradient(135deg, rgb(60, 3, 107), rgb(110, 3, 140));
  color: white;
}

.activeCard .cardTitle,
.activeCard .cardDescription {
  color: white;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin: 0 auto 1rem;
  color: purple;
}

.activeCard .icon {
  color: white;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 0.5rem;
}

.cardDescription {
  font-size: 0.2rem;
  color: #6b7280;
  line-height: 1.5;
}

.outletContainer {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (max-width: 768px) {
  .main {
    padding-top: 0;
  }
  .cardContainer {
    align-items: center;
    gap: 1rem;
  }

  .card {
    width: 100%;
    height: 30%;
  }
  .icon {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.3rem;
  }
  .cardDescription {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .cardTitle {
    font-size: 1.2rem;
  }

  .title {
    font: size 0.5em;
  }
}
